/* @media (min-width: 1200px) { */
    /* .container, */
    /* .container-lg, */
    /* .container-md, */
    /* .container-sm, */
    /* .container-xl { */
        /* max-width: 1290px!important; */
    /* } */
/* } */
@media(max-width:767.5px) {
    body {
        font-size: 14px!important;
    }
    h1 {
        font-size: 34px!important;
    }
    h2 {
        font-size: 26px!important;
    }
    .float-center {
        margin: 0 auto;
        display: table;
        margin-top: 20px;
    }
    .mutedoverlay-text {
        display: none;
    }
    .sec-pd {
        padding: 40px 0 40px 0px;
    }
   .mq-btn-dflex {
      display: column;
      text-align: center;
      margin: 0 auto;
      display: table;
    }
}

@media(min-width:768px) {
    .float-center {
        float: center;
    }
    .subscription-bg {
        padding: 100px 15px;
    }
   .mq-btn-dflex {
      display: flex;
      text-align: center;
      margin: 0 auto;
      display: table;
    }
}

@media(max-width: 991.5px) {
    .mq-mbspace {
        margin-bottom: 50px!important;
    }
    .mq-center {
        text-align: center!important;
    }
    .mq-float-inherit {
        float: inherit!important;
    }
    .ft-pd {
        padding: 40px 0px;
    }
    .mq-col-mt {
        margin-top: 25px;
    }
}

@media(min-width:992px) {
    .mq-left {
        float: left;
    }
    .mq-right {
        float: right;
    }
    .ft-pd {
        padding: 60px 0px;
    }
}

@media(min-width: 424px) {
    .subs-mr {
        margin-right: 5px;
    }
}

@media(max-width: 425.5px) {
    .mq-dflex-col {
        flex-direction: column!important;
    }
}

@media(max-width:767px) {
    .mq-text-center-mint {
        text-align: center!important;
        margin-top: 10px!important;
    }
}
